<h1>This is the secret page!</h1>
<p>You finally found it!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTzvk2OwS9xx0p9bB5ZMdoYrx-zgYIHh-g6YyDSGwtj7u2TXg6&usqp=CAU">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>